{% extends "blog/base.html" %}
{% load static %}

{% block title%}
<title> {{ title }} </title>
{% endblock title %}


{% block content %}
<main class="container">

  <div class="row mb-2">
    {% for post_f in first_posts %}

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="blog-post-title">{{ post_f.title }}</h3>
          <div class="mb-1 text-muted">{{ post_f.date_update }}</div>
          <p class="card-text mb-auto">{{ post_f }}</p>
          <a href="{% url 'blog_urls:post_page' post_f.slug %}" class="stretched-link"> </a>
        </div>

        <div class="col">
          {% if post_f.image %}
            <img class="img-fluid" src="{{ post_f.image.url }}" alt={{ post_f.title }}>
          {% endif %}
        </div>

      </div>
    </div>
    {% empty %}
    {% endfor %}

  </div>

  <div class="row g-5">

    <div class="col-md-2">
      <div class="position-sticky" style="top: 2rem;">

        <div class="p-4">
          <h4 class="fst-italic">Categories</h4>
          <ol class="list-unstyled mb-0">

            {% for cat in blog_cats %}
            <li><a href="{% url 'blog_urls:categories_page' cat.slug %}"> {{ cat }} </a></li>
            {% empty %}
            <li>Sorry, no post in this list.</li>
            {% endfor %}
          </ol>
        </div>


      </div>
    </div>

    <div class="col-md-10">

      {% for post in posts %}
      <article class="blog-post">
        <h2 class="blog-post-title"><a href="{% url 'blog_urls:post_page' post.slug %}"> {{ post.title }} </a></h2>
        <p class="blog-post-meta">{{ post.date_update }}<a href="#">{{ post.owner }}</a></p>
        <blockquote class="blockquote">
          <p> {{ post }}</p>
        </blockquote>
        <p class="blog-post-meta">
          {% for tag in post.tag.all %}
          <a href="#"> #{{ tag }} </a> <a> / </a>
          {% endfor %}
        </p>

      </article>
      {% empty %}
      <li>Sorry, no post in this list.</li>
      {% endfor %}

      <div class="blog-pagination" aria-label="Pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary" href="?page=1">&laquo; first</a>
            <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-outline-secondary enabled" href="?page={{ page_obj.paginator.num_pages }}"
               aria-disabled="false">last &raquo;</a>
        {% endif %}
    </span>
      </div>

    </div>

  </div>

</main>

{% endblock content %}




