{% extends "blog/base.html" %}
{% load static %}

{% block title%}
	<title> Blog </title>
{% endblock title %}


{% block content %}
<div class="container">
	<div class="content-top">
		<div class="content">
			<div class="col-md-3 lente">
				<h4>Categories</h4>
				<ul>
					{% for cat in blog_cats %}
						<li><a href="{{ cat.slug }}" > <span> </span> {{ cat }} </a></li>
					{% endfor %}
				</ul>
					<div class="sti">
						<h4>Tegs</h4>
						<img src="images/img1.jpg" class="img-responsive" alt="" />
						{% for teg in blog_tags %}
							<li><a href=" teg.slug "><span> </span>{{ teg }}</a></li>
						{% endfor %}
						<a href="#" class="link">Read More</a>
					</div>
			</div>
			<div class="col-md-8 sedtell">

				<div class="sedtell-top">
					{% for post in posts %}
					<div class="sedtell-left">
						{% if post.image  %}
<!--						<p><img src="/media/images/2022/05/09/a1.jpg"></p>-->
						<p><img src= "{{ post.image.url }}" class="img-responsive" alt=""/></p>
						{% else %}
						<p> "#" </p>
						{% endif %}
					</div>
					<div class="sedtell-right">
						<p> {{ post }} </p>
						<a href="#" class="link">Read More</a>
					</div>
					<div class="clearfix"> </div>
					{% endfor %}
				</div>

			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
	</div>

{% endblock content %}




