{% extends "notebook/base.html" %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content%}
<p>My notes</p>

<ul>
    {% for cat in category %}
    <li>
        <div><a href="{% url 'notebook:notes' %}"> {{ cat }} </a></div>
    </li>
    {% for note in notes %}

    <li>
        <div><a href="{% url 'notebook:notes' %}"> {{ note }}  {{ note.category }}</a></div>
    </li>

    {% empty %}
    <li> No topics have been added yet</li>
    {% endfor %}
    {% endfor %}

    {% for test in tests %}
    <li> This is - {{ test }}</li>
    {% empty %}
    <li> No topics have been added yet</li>
    {% endfor %}
</ul>

{% endblock content %}